@charset "UTF-8";

.user_profile[data-v-5691f94f] {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 38px 0
}

.lg .user_profile[data-v-5691f94f],.md .user_profile[data-v-5691f94f] {
    border-bottom: 1px solid #ebebeb
}

.profile_thumb[data-v-5691f94f] {
    border-radius: 100%;
    flex: none;
    height: 80px;
    margin-right: 12px;
    overflow: hidden;
    width: 80px
}

.lg .profile_thumb[data-v-5691f94f],.md .profile_thumb[data-v-5691f94f] {
    height: 90px;
    width: 90px
}

.profile_thumb .thumb_img[data-v-5691f94f] {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.profile_detail .name[data-v-5691f94f] {
    color: #000;
    font-size: 18px;
    letter-spacing: -.27px;
    line-height: 1.2222222222
}

.profile_btn_box[data-v-5691f94f] {
    font-size: 0;
    margin-top: 12px
}

.profile_btn_box .btn+.btn[data-v-5691f94f] {
    margin-left: 8px
}

.mo .user_profile[data-v-5691f94f],.sm .user_profile[data-v-5691f94f] {
    padding: 20px 0 28px
}

.mo .profile_detail .name[data-v-5691f94f],.sm .profile_detail .name[data-v-5691f94f] {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}

.unit[data-v-0c9f3f9e] {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 25px 0 12px;
    position: relative
}

.unit+.unit[data-v-0c9f3f9e] {
    padding-top: 23px
}

.title[data-v-0c9f3f9e] {
    color: rgba(34,34,34,.5);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.07px
}

.unit_content[data-v-0c9f3f9e] {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.desc[data-v-24a03828] {
    flex: 1;
    font-size: 16px;
    letter-spacing: -.16px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.desc.placeholder[data-v-24a03828] {
    color: rgba(34,34,34,.5)
}

.modify[data-v-6d416020] {
    padding-top: 23px
}

.modify .title[data-v-6d416020] {
    color: #222;
    padding-bottom: 22px
}

.modify.name[data-v-6d416020] {
    padding-top: 25px
}

.modify_btn_box[data-v-6d416020] {
    font-size: 0;
    padding-top: 28px;
    text-align: center
}

.modify_btn_box .btn[data-v-6d416020] {
    padding: 0 38px
}

.modify_btn_box .btn+.btn[data-v-6d416020] {
    margin-left: 8px
}

.input_box[data-v-6d416020] {
    padding: 0
}

.desc_modify[data-v-6d416020] {
    padding-right: 58px
}

.btn_modify[data-v-6d416020] {
    position: absolute;
    right: 0
}

.profile_group[data-v-8b96a82e] {
    padding-top: 48px
}

.lg .profile_group[data-v-8b96a82e],.md .profile_group[data-v-8b96a82e] {
    padding-top: 58px
}

.profile_group[data-v-8b96a82e]:first-of-type {
    padding-top: 0
}

.group_title[data-v-8b96a82e] {
    font-size: 18px;
    letter-spacing: -.27px
}

.feed_area .social_feeds_empty[data-v-91938d00] {
    padding: 36px 0 20px
}

.mo .feed_area .social_feeds_empty[data-v-91938d00],.sm .feed_area .social_feeds_empty[data-v-91938d00] {
    padding: 18px 0 30px
}

.mo .feed_area .social_feeds_empty .empty_box[data-v-91938d00],.sm .feed_area .social_feeds_empty .empty_box[data-v-91938d00] {
    margin: 20px auto!important
}

.feed_area .empty_icon[data-v-91938d00] {
    height: 33px;
    width: 34px
}

.feed_area .empty_txt[data-v-91938d00] {
    color: rgba(34,34,34,.8);
    font-size: 14px;
    letter-spacing: -.21px;
    padding-top: 16px
}

.layer .social_feeds_empty .empty_box[data-v-91938d00] {
    margin: 70px auto 150px
}

.layer.mo .social_feeds_empty .empty_box[data-v-91938d00],.layer.sm .social_feeds_empty .empty_box[data-v-91938d00] {
    margin: 100px auto;
    padding-top: 0
}

.social_feeds_empty.top_line[data-v-91938d00] {
    border-top: 1px solid #ebebeb
}

.social_feeds_empty.top_line .empty_box[data-v-91938d00] {
    margin-top: 120px
}

.mo .social_feeds_empty.top_line[data-v-91938d00],.sm .social_feeds_empty.top_line[data-v-91938d00] {
    border-top: 0
}

.mo .social_feeds_empty.top_line .empty_box[data-v-91938d00],.sm .social_feeds_empty.top_line .empty_box[data-v-91938d00] {
    margin-top: 100px
}

.detail.lg .social_feeds_empty[data-v-91938d00],.detail.md .social_feeds_empty[data-v-91938d00] {
    padding: 18px 0 30px
}

.detail.lg .empty_box[data-v-91938d00],.detail.md .empty_box[data-v-91938d00] {
    margin: 20px auto
}

.detail.mo .social_feeds_empty[data-v-91938d00],.detail.sm .social_feeds_empty[data-v-91938d00] {
    height: auto
}

.detail.mo .empty_box[data-v-91938d00],.detail.sm .empty_box[data-v-91938d00] {
    padding: 0
}

.empty_box[data-v-91938d00] {
    margin: 0 auto 200px;
    max-width: 275px;
    text-align: center
}

.empty_box[data-v-91938d00]:not(.is_modal) {
    padding-top: 120px
}

.empty_box:not(.is_modal).only_description[data-v-91938d00] {
    padding-top: 160px
}

.mo .empty_box[data-v-91938d00],.sm .empty_box[data-v-91938d00] {
    margin: 0 auto;
    padding-bottom: 160px;
    padding-top: 160px
}

.empty_icon[data-v-91938d00] {
    height: 100px;
    width: 100px
}

.empty_icon+.empty_title[data-v-91938d00] {
    padding-top: 5px
}

.empty_title[data-v-91938d00] {
    display: block;
    font-size: 15px;
    letter-spacing: -.15px
}

.empty_title+.empty_txt[data-v-91938d00] {
    padding-top: 11px
}

.empty_txt[data-v-91938d00] {
    color: rgba(34,34,34,.8);
    font-size: 13px;
    letter-spacing: -.07px;
    word-break: keep-all
}

.only_description:not(.is_modal) .empty_txt[data-v-91938d00] {
    font-size: 14px;
    letter-spacing: -.21px
}

.lg .only_description:not(.is_modal) .empty_txt[data-v-91938d00] {
    color: #222;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.16px
}

.btn[data-v-91938d00] {
    font-weight: 600;
    margin-top: 16px
}

.user_link>span[data-v-e76e9190] {
    align-items: center;
    display: flex;
    margin-right: 10px;
    padding-right: 10px;
    width: 100%
}

.img_box[data-v-e76e9190] {
    border-radius: 100%;
    flex-shrink: 0;
    height: 44px;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
    width: 44px
}

.img_box[data-v-e76e9190]:after {
    border: 1px solid rgba(34,34,34,.1);
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.profile_img[data-v-e76e9190] {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.info_box[data-v-e76e9190] {
    display: flex;
    flex-direction: column
}

.user_name[data-v-e76e9190] {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    align-items: center;
    display: inline-flex;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.33px;
    overflow: hidden;
    text-overflow: ellipsis
}

.mo .user_name[data-v-e76e9190],.sm .user_name[data-v-e76e9190] {
    display: inline-block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px
}

.user_subname[data-v-e76e9190] {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(34,34,34,.5);
    display: -webkit-box;
    flex: 1 0 0;
    font-size: 12px;
    letter-spacing: -.06px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}

.user_subname.has_follower[data-v-e76e9190] {
    flex: 0 0 auto;
    max-width: 100px
}

.lg .user_subname[data-v-e76e9190],.md .user_subname[data-v-e76e9190] {
    max-width: 300px
}

.dot[data-v-e76e9190] {
    position: relative;
    width: 13px
}

.dot[data-v-e76e9190]:before {
    background-color: rgba(34,34,34,.5);
    border-radius: 50%;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 2px
}

.subtitle[data-v-e76e9190] {
    margin-top: 2px
}

.subtitle[data-v-e76e9190],.user_item[data-v-53311876] {
    align-items: center;
    display: flex
}

.user_item+.user_item[data-v-53311876],.user_item[data-v-53311876] {
    margin-top: 8px
}

.user_item .profile[data-v-53311876] {
    flex: 1
}

.layer_blocked_users[data-v-7ce221b3] .layer_content {
    padding-left: 16px;
    padding-right: 16px
}

.lg .layer_blocked_users[data-v-7ce221b3] .layer_content,.md .layer_blocked_users[data-v-7ce221b3] .layer_content {
    height: 446px;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-left: 32px;
    padding-right: 32px;
    width: 450px
}

.base-switch[data-v-024f5818] {
    background-color: #e4e4e4;
    border-radius: 15.5px;
    cursor: pointer;
    height: 31px;
    position: relative;
    width: 51px
}

.base-switch .circle[data-v-024f5818],.base-switch[data-v-024f5818] {
    transition: all .3s cubic-bezier(.4,0,.2,1)!important
}

.base-switch .circle[data-v-024f5818] {
    background-color: #fff;
    border-radius: 50%;
    height: 27px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(2px,-50%);
    width: 27px
}

.base-switch.is-active[data-v-024f5818] {
    background-color: #222
}

.base-switch.is-active .circle[data-v-024f5818] {
    transform: translate(22px,-50%)
}

.brand-follow[data-v-76f8d191] {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.brand-follow>div[data-v-76f8d191] {
    flex: 0 0 auto
}

.profile_info[data-v-708ef468] {
    max-width: 480px;
    padding-top: 38px
}

.modify[data-v-708ef468] {
    padding-top: 23px
}

.modify .title[data-v-708ef468] {
    color: #222;
    padding-bottom: 22px
}

.modify.name[data-v-708ef468] {
    padding-top: 25px
}

.modify_btn_box[data-v-708ef468] {
    font-size: 0;
    padding-top: 28px;
    text-align: center
}

.modify_btn_box .btn[data-v-708ef468] {
    padding: 0 38px
}

.modify_btn_box .btn+.btn[data-v-708ef468] {
    margin-left: 8px
}

.btn_withdrawal[data-v-708ef468] {
    color: rgba(34,34,34,.5);
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-top: 55px;
    padding: 5px 0
}

.btn_withdrawal[data-v-708ef468],.btn_withdrawal[data-v-708ef468]:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.mo .my_profile[data-v-708ef468],.sm .my_profile[data-v-708ef468] {
    padding: 0 24px 80px
}

.mo .my_profile .profile_info[data-v-708ef468],.sm .my_profile .profile_info[data-v-708ef468] {
    padding-top: 0
}

.mo .my_profile .btn_withdrawal[data-v-708ef468],.sm .my_profile .btn_withdrawal[data-v-708ef468] {
    display: none
}

.sm .my_profile[data-v-708ef468] {
    padding-left: 16px;
    padding-right: 16px
}

.btn_modify[data-v-708ef468] {
    position: absolute;
    right: 0
}

.header-btn.btn_home[data-v-708ef468] {
    display: flex;
    position: absolute;
    right: 16px;
    top: 11px
}

.header-btn.btn_home svg[data-v-708ef468] {
    height: 22px;
    width: 22px
}

.content_title[data-v-6b53f901] {
    display: flex
}

.my_order_detail .content_title[data-v-6b53f901] {
    margin-bottom: 20px
}

.content_title.border[data-v-6b53f901] {
    border-bottom: 3px solid #222;
    padding-bottom: 16px
}

.content_title.has_sub[data-v-6b53f901] {
    padding: 5px 0 22px
}

.content_title.has_sub .btn_box[data-v-6b53f901] {
    padding-top: 4px
}

.title[data-v-6b53f901] {
    font-size: 24px;
    letter-spacing: -.36px
}

.title>h3[data-v-6b53f901] {
    font-size: inherit;
    line-height: 29px
}

.sub_title[data-v-6b53f901] {
    color: rgba(34,34,34,.5);
    font-size: 12px;
    letter-spacing: -.005em
}

.btn_box[data-v-6b53f901] {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 30px
}

.btn_box .btn[data-v-6b53f901] {
    align-items: center;
    display: flex;
    font-size: 14px;
    letter-spacing: -.21px;
    margin-right: -6px;
    padding: 0 6px
}

.btn_box .btn[data-v-6b53f901]+.btn {
    margin-left: 8px
}

.btn_box .btn[data-v-6b53f901].btn_add {
    border: 1px solid #222;
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    line-height: 32px;
    margin-right: 0;
    padding: 0 14px
}

.btn_box .btn[data-v-6b53f901] .btn_cancel {
    color: #f15746
}

.btn_box .icon[data-v-6b53f901] {
    height: 20px;
    margin-right: 4px;
    width: 20px
}

.mo .content_title[data-v-6b53f901],.sm .content_title[data-v-6b53f901] {
    border-bottom-width: 2px;
    padding-top: 7px
}

.mo.my .content_title[data-v-6b53f901],.sm.my .content_title[data-v-6b53f901] {
    display: none
}

.mo .my_addressbook .content_title[data-v-6b53f901],.mo .my_payment .content_title[data-v-6b53f901],.sm .my_addressbook .content_title[data-v-6b53f901],.sm .my_payment .content_title[data-v-6b53f901] {
    border-bottom: 0;
    display: block;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 10px
}

.mo .my_addressbook .content_title .title[data-v-6b53f901],.mo .my_payment .content_title .title[data-v-6b53f901],.sm .my_addressbook .content_title .title[data-v-6b53f901],.sm .my_payment .content_title .title[data-v-6b53f901] {
    display: none
}

.mo .my_addressbook .content_title .btn_box[data-v-6b53f901],.mo .my_payment .content_title .btn_box[data-v-6b53f901],.sm .my_addressbook .content_title .btn_box[data-v-6b53f901],.sm .my_payment .content_title .btn_box[data-v-6b53f901] {
    padding-left: 0
}

.mo .my_addressbook .content_title .btn[data-v-6b53f901],.mo .my_payment .content_title .btn[data-v-6b53f901],.sm .my_addressbook .content_title .btn[data-v-6b53f901],.sm .my_payment .content_title .btn[data-v-6b53f901] {
    border-color: #d3d3d3;
    border-radius: 12px;
    font-size: 16px;
    height: 52px;
    letter-spacing: -.16px;
    line-height: 52px;
    width: 100%
}

.mo .my_addressbook .content_title .btn_txt[data-v-6b53f901],.mo .my_payment .content_title .btn_txt[data-v-6b53f901],.sm .my_addressbook .content_title .btn_txt[data-v-6b53f901],.sm .my_payment .content_title .btn_txt[data-v-6b53f901] {
    width: 100%
}

.size_item[data-v-1b874462] {
    display: table;
    float: left;
    height: 52px;
    margin: 4px;
    width: calc(33.33333% - 8px)
}

.size_item .btn[data-v-1b874462] {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    display: table-cell;
    height: 100%;
    text-align: center;
    width: 100%
}

.size_item .btn[data-v-1b874462]:active {
    background-color: #f4f4f4;
    border-color: #d3d3d3
}

.size_item .btn.on[data-v-1b874462] {
    border-color: #333;
    font-weight: 700
}

.size_item .info_txt[data-v-1b874462] {
    color: #000;
    display: inline-block;
    font-size: 14px
}

.size_list_area[data-v-feb03f9c] {
    height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 6px 28px 0
}

.size_list_area[data-v-feb03f9c]:after {
    clear: both;
    content: "";
    display: block
}

.btn_layer_close[data-v-feb03f9c] {
    display: none
}

.layer.mo .size_list_area[data-v-feb03f9c],.layer.sm .size_list_area[data-v-feb03f9c] {
    height: 402px;
    padding: 6px 12px 36px
}

.layer.mo .btn_layer_close[data-v-feb03f9c],.layer.sm .btn_layer_close[data-v-feb03f9c] {
    display: block
}

.solid.disabled[data-v-feb03f9c],.solid[data-v-feb03f9c]:disabled {
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: rgba(34,34,34,.3);
    cursor: default
}

.btn_layer_close[data-v-feb03f9c] {
    cursor: pointer
}

.profile_group[data-v-8b96a82e] {
    padding-top: 48px
}

.lg .profile_group[data-v-8b96a82e],.md .profile_group[data-v-8b96a82e] {
    padding-top: 58px
}

.profile_group[data-v-8b96a82e]:first-of-type {
    padding-top: 0
}

.group_title[data-v-8b96a82e] {
    font-size: 18px;
    letter-spacing: -.27px
}

.unit[data-v-0c9f3f9e] {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    padding: 25px 0 12px;
    position: relative
}

.unit+.unit[data-v-0c9f3f9e] {
    padding-top: 23px
}

.title[data-v-0c9f3f9e] {
    color: rgba(34,34,34,.5);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.07px
}

.unit_content[data-v-0c9f3f9e] {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.desc[data-v-24a03828] {
    flex: 1;
    font-size: 16px;
    letter-spacing: -.16px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.desc.placeholder[data-v-24a03828] {
    color: rgba(34,34,34,.5)
}

.profile_info[data-v-1ac01578] {
    max-width: 480px;
    padding-top: 38px
}

.modify[data-v-1ac01578] {
    padding-top: 23px
}

.modify .title[data-v-1ac01578] {
    color: #222;
    padding-bottom: 22px
}

.modify.name[data-v-1ac01578] {
    padding-top: 25px
}

.modify_btn_box[data-v-1ac01578] {
    font-size: 0;
    padding-top: 28px;
    text-align: center
}

.modify_btn_box .btn[data-v-1ac01578] {
    padding: 0 38px
}

.modify_btn_box .btn+.btn[data-v-1ac01578] {
    margin-left: 8px
}

.btn_withdrawal[data-v-1ac01578] {
    color: rgba(34,34,34,.5);
    display: inline-block;
    font-size: 13px;
    letter-spacing: -.07px;
    margin-top: 55px;
    padding: 5px 0
}

.btn_withdrawal[data-v-1ac01578],.btn_withdrawal[data-v-1ac01578]:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.mo .my_profile[data-v-1ac01578],.sm .my_profile[data-v-1ac01578] {
    padding: 0 24px 80px
}

.mo .my_profile .profile_info[data-v-1ac01578],.sm .my_profile .profile_info[data-v-1ac01578] {
    padding-top: 0
}

.mo .my_profile .btn_withdrawal[data-v-1ac01578],.sm .my_profile .btn_withdrawal[data-v-1ac01578] {
    display: none
}

.sm .my_profile[data-v-1ac01578] {
    padding-left: 16px;
    padding-right: 16px
}

.btn_modify[data-v-1ac01578] {
    position: absolute;
    right: 0
}

.header-btn.btn_home[data-v-1ac01578] {
    display: flex;
    position: absolute;
    right: 16px;
    top: 11px
}

.header-btn.btn_home svg[data-v-1ac01578] {
    height: 22px;
    width: 22px
}

.content_title[data-v-6b53f901] {
    display: flex
}

.my_order_detail .content_title[data-v-6b53f901] {
    margin-bottom: 20px
}

.content_title.border[data-v-6b53f901] {
    border-bottom: 3px solid #222;
    padding-bottom: 16px
}

.content_title.has_sub[data-v-6b53f901] {
    padding: 5px 0 22px
}

.content_title.has_sub .btn_box[data-v-6b53f901] {
    padding-top: 4px
}

.title[data-v-6b53f901] {
    font-size: 24px;
    letter-spacing: -.36px
}

.title>h3[data-v-6b53f901] {
    font-size: inherit;
    line-height: 29px
}

.sub_title[data-v-6b53f901] {
    color: rgba(34,34,34,.5);
    font-size: 12px;
    letter-spacing: -.005em
}

.btn_box[data-v-6b53f901] {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: 30px
}

.btn_box .btn[data-v-6b53f901] {
    align-items: center;
    display: flex;
    font-size: 14px;
    letter-spacing: -.21px;
    margin-right: -6px;
    padding: 0 6px
}

.btn_box .btn[data-v-6b53f901]+.btn {
    margin-left: 8px
}

.btn_box .btn[data-v-6b53f901].btn_add {
    border: 1px solid #222;
    border-radius: 10px;
    font-size: 12px;
    height: 34px;
    letter-spacing: -.06px;
    line-height: 32px;
    margin-right: 0;
    padding: 0 14px
}

.btn_box .btn[data-v-6b53f901] .btn_cancel {
    color: #f15746
}

.btn_box .icon[data-v-6b53f901] {
    height: 20px;
    margin-right: 4px;
    width: 20px
}

.mo .content_title[data-v-6b53f901],.sm .content_title[data-v-6b53f901] {
    border-bottom-width: 2px;
    padding-top: 7px
}

.mo.my .content_title[data-v-6b53f901],.sm.my .content_title[data-v-6b53f901] {
    display: none
}

.mo .my_addressbook .content_title[data-v-6b53f901],.mo .my_payment .content_title[data-v-6b53f901],.sm .my_addressbook .content_title[data-v-6b53f901],.sm .my_payment .content_title[data-v-6b53f901] {
    border-bottom: 0;
    display: block;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 10px
}

.mo .my_addressbook .content_title .title[data-v-6b53f901],.mo .my_payment .content_title .title[data-v-6b53f901],.sm .my_addressbook .content_title .title[data-v-6b53f901],.sm .my_payment .content_title .title[data-v-6b53f901] {
    display: none
}

.mo .my_addressbook .content_title .btn_box[data-v-6b53f901],.mo .my_payment .content_title .btn_box[data-v-6b53f901],.sm .my_addressbook .content_title .btn_box[data-v-6b53f901],.sm .my_payment .content_title .btn_box[data-v-6b53f901] {
    padding-left: 0
}

.mo .my_addressbook .content_title .btn[data-v-6b53f901],.mo .my_payment .content_title .btn[data-v-6b53f901],.sm .my_addressbook .content_title .btn[data-v-6b53f901],.sm .my_payment .content_title .btn[data-v-6b53f901] {
    border-color: #d3d3d3;
    border-radius: 12px;
    font-size: 16px;
    height: 52px;
    letter-spacing: -.16px;
    line-height: 52px;
    width: 100%
}

.mo .my_addressbook .content_title .btn_txt[data-v-6b53f901],.mo .my_payment .content_title .btn_txt[data-v-6b53f901],.sm .my_addressbook .content_title .btn_txt[data-v-6b53f901],.sm .my_payment .content_title .btn_txt[data-v-6b53f901] {
    width: 100%
}

.radio_item[data-v-08509152] {
    font-size: 0;
    margin-top: -22px;
    position: absolute;
    right: 0;
    top: 50%
}

.mo .other .radio_item[data-v-08509152],.sm .other .radio_item[data-v-08509152] {
    left: 0;
    margin-top: 0;
    right: auto;
    top: 0
}

.mo .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:before,.sm .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:before {
    left: 2px;
    right: auto
}

.mo .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:after,.sm .other .radio_item .radio_input:checked~.radio_label[data-v-08509152]:after {
    left: 7px;
    right: auto
}

.mo .other .radio_item .radio_label[data-v-08509152],.sm .other .radio_item .radio_label[data-v-08509152] {
    display: inline-block;
    padding: 0;
    width: auto
}

.mo .my_payment .other .radio_item[data-v-08509152],.sm .my_payment .other .radio_item[data-v-08509152] {
    margin-top: -12px;
    top: 50%
}

.radio_input[data-v-08509152] {
    clip: rect(0,0,0,0)!important;
    height: 1px!important;
    margin: -1px!important;
    overflow: hidden!important;
    position: absolute!important;
    width: 1px!important
}

.radio_input:checked~.radio_label[data-v-08509152]:before {
    border: 1px solid #222;
    border-radius: 100%;
    content: "";
    height: 20px;
    margin: -10px -15px 0 0;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 20px
}

.radio_input:checked~.radio_label[data-v-08509152]:after {
    background-color: #222;
    border-radius: 100%;
    content: "";
    height: 10px;
    margin: -5px -10px 0 0;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 10px
}

.address_list .radio_input:checked~.radio_label .ico-check-s[data-v-08509152] {
    display: block
}

.address_list .radio_input:checked~.radio_label[data-v-08509152]:after,.address_list .radio_input:checked~.radio_label[data-v-08509152]:before {
    display: none
}

.radio_label[data-v-08509152] {
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 10px 0 10px 10px;
    width: 100%
}

.address_list .radio_label .ico-check-s[data-v-08509152] {
    display: none
}

.radio_txt_box .radio_item[data-v-08509152] {
    float: left;
    margin-top: 0;
    position: relative
}

.radio_txt_box .radio_item+.radio_item[data-v-08509152] {
    margin-left: 19px
}

.radio_txt_box .radio_label[data-v-08509152] {
    color: rgba(34,34,34,.8);
    font-size: 14px;
    letter-spacing: -.21px;
    overflow: hidden;
    padding: 0
}

.radio_txt_box .radio_input:checked~.radio_label[data-v-08509152]:before {
    margin: -10px 0 0;
    right: 2px
}

.radio_txt_box .radio_input:checked~.radio_label[data-v-08509152]:after {
    margin: -5px 0 0;
    right: 7px
}

.radio_txt_box [class*=ico-][data-v-08509152] {
    float: right
}

.radio_txt_box .label_txt[data-v-08509152] {
    float: right;
    margin-right: 4px;
    margin-top: 2px
}

.horizontal.radio_item[data-v-08509152] {
    float: none;
    padding: 20px 0;
    width: 100%
}

.horizontal.radio_item+.radio_item[data-v-08509152] {
    border-top: 1px solid #ebebeb;
    margin-left: 0
}

.horizontal .radio_label[data-v-08509152] {
    display: flex;
    justify-content: space-between
}

.horizontal .radio_label .label_icons[data-v-08509152],.horizontal .radio_label .label_texts[data-v-08509152] {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.horizontal .radio_label .label_txt[data-v-08509152] {
    font-size: 15px
}

.horizontal .radio_label .label_desc[data-v-08509152] {
    color: rgba(34,34,34,.5);
    font-size: 13px
}

.horizontal .radio_input:checked~.radio_label .label_txt[data-v-08509152] {
    font-weight: 700
}

