.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: none;
  box-shadow: 24px;
  padding: 24px;
  border-radius: 16px;
}

.link-button {
  margin-left: auto;
}

.text-field {
  margin-bottom: 0px;
  font-size: 14px;
}

.text-field .MuiOutlinedInput-root textarea {
  font-size: 14px;
}

.text-field .MuiOutlinedInput-root fieldset {
  border-color: rgb(173, 169, 169);
}

.text-field .MuiOutlinedInput-root:hover fieldset {
  border-color: rgb(131, 129, 129);
}

.text-field .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: rgb(131, 129, 129);
}

.text-field .MuiFormHelperText-root {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0px;
}

.checkbox-custom {
  color: gray;
  transform: scale(0.9);
}

.checkbox-custom.Mui-checked {
  color: #ff5722;
}

.divv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
